html{
	font-size: 100%;
}
.switch{
	width: 100%;
	margin: 6px 0 0 0;
	text-align: center;
}
.btn1{
	position:absolute; 
	display: inline-block;
 	width: 135px;
 	height: 40px;
 	left: 0; 
 	right: 0;
	margin: 0 auto; 
 	text-align: center;
 	line-height: 38px;
 	background-color: #55a8b3;
 	border-radius: 7px;
  	color: #ffffff; 
  	cursor: pointer; 
}  
.t_green , .t_grey{
	display: inline-block; 
	float: left;
	width: 67.5px; 
	height: 40px; 
	line-height: 40px;
	text-align: center;
}      
.btn_bg{	
	position:absolute;     
 	-webkit-transition:all .2s linear;    
    -moz-transition:all .2s linear;    
    -ms-transition:all .2s linear;    
    -o-transition:all .2s linear;    
    transition:all .2s linear;   
  	display: inline-block;
 	width: 70px;
  	height: 38px;
  	line-height: 38px;
  	background-color: #ffffff;
 	border-radius: 7px;
  	color: #55a8b3; 
}  
.btn_on .t_green{ 
	opacity: 0;
}    
.btn_off .t_grey{ 
	opacity: 0;
}       
.btn_on .btn_bg{ 
	left: 0px; 
	background-color:#ffffff;}    
.btn_off .btn_bg{ 
	left: 66px; 
	background-color:#ffffff;}   
.btn-group-justified{
	margin: 50px 0 0 0;
	border-bottom: 1px solid #afbac0;
}
.title1{
	background-color: #5fc0cd;
}
.box-p1{
	position: fixed;
	top: 17px;
	right: 14px;
	width: 20px;
	height: 20.7px;
	z-index: 1032;
	background-position: 0 -70px;
	background-image: url(img/111.png);
	background-color: #5fc0cd;
}
.b1{
	height: 40px;
	padding: 0;
	line-height: 40px;
}
.caret{
	position: relative;
	left: 15%;
	color: #afbac0;
}
.line{
	float:left;
	width: 1px;
	height: 26px;
	margin: 6px 0;
	vertical-align: middle;
	background: radial-gradient(black -80%, white 100%);
}
.dropdown-toggle{
	color: #afbac0;
}
.t1{
	display: block;
	color: #afbac0;
	font-size: .7rem;
}
.t2{
	display: block;
	text-overflow: ellipsis;
	line-height: 30px;
	overflow: hidden;
}
.row{
	border-bottom: 1px solid #afbac0;
}
.col-xs-4{
	height: 84px;
	padding: 0 10px;
	line-height: 84px;
	text-align: right;
	color: #ff0000;
}
.col-xs-8{
	padding: 10px 15px;
}
.glyphicon-menu-right{
	color: #5fc0cd;
}
.box-f{
	position: relative;
	float: left;
	left: 50%;
}
.imgb{
	height: 47px;
	width: 47px;
	background-position: 0 -21.5px;
	background-image: url(img/111.png); 
}
.imga{
	height: 22.4px;
	width: 22px;
	background-position: -25px 0px;
	background-image: url(img/111.png); 
}
.imgc{
	height: 22.4px;
	width: 22.5px;
	background-position: 0px 0px;
	background-image: url(img/111.png); 
}
.f1{
	position: relative;
	float: left;
	left: -50%;
	padding: 0 10px;
	border-style: none;
	background-color: #f8f8f8;
}
.f2{
	padding: 5px 30px 0 30px;
}
.my{
	text-align: center;
	color: #afbac0;
	font-size: .6rem;
}
.page{
	text-align: center;
	font-size: .6rem;
	color: #5fc0cd;
}